<div class="container">
  <form
    [formGroup]="myform"
    (ngSubmit)="
      onReactiveSubmit(myform);
      toggleVisiblilty('onFormNotSubmitted', 'onFormSubmitted')
    "
  >
    <div class="form-header">
      <h1>Mortgage Calculator</h1>
      <p><u>Clear All</u></p>
    </div>
    <div class="amount-container">
      <label for="amount">Mortgage Amount</label>
      <input
        formControlName="amount"
        placeholder="$"
        type="number"
        name="amount"
        id="amount"
      />

      <div *ngIf="ramount.touched && ramount.dirty">
        <span class="error" *ngIf="ramount.errors?.['required']"
          >This field is required.</span
        >
      </div>
    </div>
    <div class="wrapper">
      <div class="term-wrapper">
        <label for="term">Mortgage Term</label>
        <input
          formControlName="term"
          placeholder="Years"
          type="number"
          name="term"
          id="term"
        />
        <div *ngIf="rterm.touched && rterm.dirty">
          <span class="error" *ngIf="rterm.errors?.['required']"
            >This field is required.</span
          >
        </div>
      </div>
      <div class="rate-wrapper">
        <label for="interest">Interest Rate</label>
        <input
          formControlName="rate"
          placeholder="%"
          type="number"
          name="rate"
          id="interest"
        />
        <div *ngIf="rrate.touched && rrate.dirty">
          <span class="error" *ngIf="rrate.errors?.['required']"
            >This field is required.</span
          >
        </div>
      </div>
    </div>
    <div class="type-container">
      <p>Mortgage Type</p>

      <label class="special">
        <input
          formControlName="selectedOption"
          type="radio"
          id="repay"
          value="option1"
        />
        Repayment</label
      >

      <label class="special">
        <input
          formControlName="selectedOption"
          type="radio"
          id="int"
          value="option2"
        />
        Interest Only</label
      >

      <div *ngIf="rselectedOption.invalid">
        <span class="error" *ngIf="rselectedOption.errors?.['required']"
          >This field is required.</span
        >
      </div>
    </div>
    <button [disabled]="myform.invalid" type="submit">
      <img src="../assets/images/icon-calculator.svg" alt="" />Calculate
      Repayments
    </button>
  </form>

  <div *ngIf="VisibilityStates['onFormNotSubmitted']" class="result-container">
    <img src="../assets/images/illustration-empty.svg" alt="" />
    <h2>Results shown here</h2>
    <p>
      Complete the form and click "calculate repayments" to see what your
      monthly repayments would be.
    </p>
  </div>
  <div *ngIf="VisibilityStates['onFormSubmitted']" class="result-calculation">
    <h2>Your results</h2>
    <p>
      Your results are shown below based on the information you provided. To
      adjust the results, edit the form and click "calculate repayments" again.
    </p>
    <div class="calculations">
      <div class="monthly">
        <p>Your monthly repayments</p>
        <p class="monthly-number" *ngIf="showResult">
          ${{ monthlyRepayment | number : "1.2-2" }}
        </p>
      </div>
      <div class="total">
        <p>Total you'll repay over the term</p>
        <h2 *ngIf="showResult">${{ totalRepayment | number : "1.2-2" }}</h2>
      </div>
    </div>
  </div>
</div>
